<h3>Styles com property binding (style binding)</h3>
<button
[style.backgroundColor]="ativo ? 'blue' : 'gray'"
[style.color]="ativo ? 'white' : 'black'"
[style.fontWeight]="ativo ? 'bold' : 'normal'"
[style.fontSize]="tamanhoFonte + 'px'"
(click)="onclick()"

>Mudar atributo Ativo</button>

<input type="text" [(ngModel)]="tamanhoFonte">

<h3>Styles com property binding (style binding)</h3>
<button
[ngStyle]="{'backgroundColor': ativo ? 'blue' : 'gray',
'color': ativo ? 'white' : 'black'
}"
(click)="onclick()"

>Mudar atributo Ativo</button>
